@use "node_modules/bootstrap/scss/bootstrap";

body {
	background-color: #1d1f2d;
	color: white; /*Text-color*/
	font-family: "Montserrat Alternates";
}

/* Audio player css */
audio {
	width: 90vw;
	height: 7.5vh;
}

@media (min-width: 768px) {
	audio {
		width: 53vw;
	}
}

audio::-webkit-media-controls-panel {
	background-color: #726f9f;
}
